
.article-image{
    width: 70%;
    overflow: hidden;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    margin-bottom: 5px;
}

.article-action{
    display: flex;
    justify-content: right;
    gap: 10px;
}
.btn-article{
    background-color: #85939a;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 6px 12px;
    transition: background-color 0.3s;
    font-size: 14px;

}
.btn-article:hover {
    background-color: #444a4d;
    color: white;
}

.download-button {
    display: inline-block;
    margin-top: 12px;
    padding: 6px 12px;
    background-color: #85939a;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #444a4d;
}

/* Coments */

.commentaire-form,
.commentaires {
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    background-color: #d7dadb;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.commentaire-form h3,
.commentaires h3 {
    font-size: 24px;
    color: #1a1a1a;
}

.commentaire-form textarea {
    display: block;
    width: 100%;
    box-sizing: border-box; 
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    }

.commentaire-form button {
    background-color:#85939a;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}
.commentaire-form button:hover {
    background-color: #444a4d;
}

.commentaires .commentaire {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.commentaires .commentaire strong {
    display: block;
    font-weight: bold;
    color: #222;
    font-size: 16px;

}

.commentaires em {
    display: block;
    font-size: 14px;
    color: #666;
}

.commentaire-actions {
    text-align: right;
}

.btn-commentaire {
    background-color: #85939a;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 6px 12px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.btn-commentaire:hover {
    background-color: #444a4d;
    color: white;
}

@media (max-width: 768px) {
    .commentaire-form,
.commentaires {
    width: 100%;
    margin: 5px;
    padding: 5px;
}
.commentaire-form h3,
.commentaires h3 {
    font-size: 18px;
    text-align: center;
}
.commentaire-form textarea {
    padding: 5px;
    font-size: 10px;
    }

.article-action{
    gap: 5px;
    }
}
