/* categories*/
.filtre-categories{
    display: flex;
    justify-content: left;
    margin: 0 auto;
    padding: 10px 20px 0px 20px;
}

.filtre {
    display: inline-block;
    padding: 8px 16px;
    background-color:#85939a;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.filtre:hover {
    background-color: #444a4d;
}

.articles{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

h1{
    text-align: center;
    color: rgb(63, 62, 62);
    margin-bottom: 20px;
}
}

.article-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 0.5fr));
    gap: 20px;
}

.article-card{
    background-color: #d7dadb;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
}

.article-card:hover{
    transform: translateY(-5px);
}

.image {
    width: 100%;
    overflow: hidden;
    height: 400px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.article-card:hover .image img{
    transform: scale(1.05);
}
.article-info{
    padding: 20px;
}

h2{
    margin-top: 0;
}

.article-extrait{
    margin: 10px 0;
    color: rgb(63, 62, 62);
}

.article-meta{
    color: #6f6d6d;
}

.btn-detail{
    color: rgb(26, 25, 25);
    border: none;
    border-radius: 4px;
    text-align: right;
    padding: 6px;
    transition: background-color 0.3s;
}
/* ===== TABLET STYLES ===== */
@media (max-width: 1023px) {
    .filtre-categories{
        display: flex;
        gap: 5px;
        margin: 0 auto;
        padding: 10px;
    }
    .article-grid{
        grid-template-columns: repeat(auto-fit, minmax(400px, 0.5fr));
        gap: 20px;
    }
    .image {
        height: 300px;
    }
}
/* ===== MOBILE STYLES ===== */
@media (max-width: 768px) {
    .filtre {
        font-size: 12px;
    }
    .article-info{
        font-size: 14px;
    }
    .article-grid{
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .image {
        height: 400px;
    }
}