
    form, .task-list {
        max-width: 600px;
        margin: 2rem auto;
        padding: 1.5rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
    }

    h1, h2 {
        text-align: center;
        color: #333;
    }


    input[type="text"],
    textarea,
    select {
        width: 100%;
        padding: 8px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 0.3rem
    }

    button {
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        margin: 0.3rem;
    }

    button:hover {
        background-color: #0056b3;
    }

    .task-item {
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ddd;
    }

    .task-item strong {
        font-size: 1.1rem;
        color: #007BFF;
    }

    .task-action a {
        margin-right: 10px;
        text-decoration: none;
        color: #007BFF;
    }

    .task-action a:hover {
        text-decoration: underline;
    }
    details > summary {

        list-style: none;
      }
